<ActionBar class="action-bar">
    <NavigationButton icon="res://baseline_menu_white_24" (tap)="openDrawer()"></NavigationButton>
    <SearchBar hint="Buscar Estabelecimento" returnKeyType="done" (submit)="onSubmit($event)"></SearchBar>
</ActionBar>

<GridLayout rows="15*,*" columns="*">
    <GridLayout row="0" tkExampleTitle tkToggleNavButton style="margin: 8;">
        <RadListView [items]="dtRows">
            <ng-template tkListItemTemplate let-item="item">
                <GridLayout columns="3*, 9*" (tap)="onTap(item.empresaId)" class="lista-est">
                    <Label col="1" class="font" [text]="item.nome_fantasia" style="color: #4D4D4D; vertical-align: middle; font-size: 21; margin: 4; font-weight: bold;"></Label>
                    <Image col="0" [src]="item.logo" height="70" width="70" style="background-color: #E2E2E2; margin: 4; border-radius: 50%"></Image>
                </GridLayout>
            </ng-template>
        </RadListView>
    </GridLayout>

    <StackLayout row="1" style="background-color: #333333;">
        <barra-menu></barra-menu>
    </StackLayout>
    <ActivityIndicator rowSpan="3" busy="{{ isLoading }}" width="30" height="30"></ActivityIndicator>
</GridLayout>
