.container {
    margin-left: 10;
    margin-right: 10;
}

.titulo {
    margin-bottom: 15;
    margin-top: 15;
    text-align: center;
    font-size: 18;
    font-weight: bold;
    font-family: 'Ubuntu-R';
}

.listItemTemplateGrid {
    background-color: #f3f3f3;
    margin: 5;
    grid-row: auto;
    border-radius: 10;
}

.labelItem{
    text-align:center;
    vertical-align: middle;
    font-family: 'Ubuntu-R';
    font-size: 16;
}

.select {
    background-color: #3FCA94;
    margin: 5;
    grid-row: auto;
    border-radius: 10;
}