<ActionBar title="CATEGORIAS" class="action-bar">
    <NavigationButton icon="res://baseline_menu_white_24" (tap)="openDrawer()"></NavigationButton>
    <ActionItem>
        <StackLayout>
            <Image src="~/images/icone-spoten-negativo.png" style="margin-right: 10;" (tap)="navigate('consumo')"></Image>
            <!--<Label text="&#xf217;" class="icon icon-font-menu" marginRight="5%" (tap)="navigate('consumo')" style="color: #ffffff"></Label>-->
        </StackLayout>
    </ActionItem>
    <ActionItem>
        <StackLayout>
            <Label text="&#xf002;" class="icon icon-font-menu" marginRight="5%" (tap)="navigate('busca')"></Label>
        </StackLayout>
    </ActionItem>
</ActionBar>

<GridLayout rows="15*,*" columns="*">

    <GridLayout row="0" rows="1* 1* 4*" columns="*">
        <ScrollView row="0" col="0" orientation="horizontal">
            <StackLayout orientation="horizontal" style="background-color: #F6F6F6;">
                <GridLayout *ngFor="let categoria of categorias" style="margin-top: 10; margin-bottom: 10;"> 
                    <!--<Label [text]="categoria.name" class="categoria-bt" (tap)="onTap(categoria)"></Label>-->
                    <Label [text]="categoria.name" [ngClass]="{'categoria-bt': true, 'select': categoria.select}" class="font" (tap)="onTap(categoria)"></Label>   
                </GridLayout> 
            </StackLayout>
        </ScrollView>
        <GridLayout row="1" class="filtro">
            <GridLayout orientation="horizontal" columns="7* 3*">
                <DropDown col="0" #dd hint="Filtro" class="drop font" [items]="filtros" (selectedIndexChanged)="onChangeCategoria($event)"></DropDown>
                <Button col="1" class="font" text="Buscar" (tap)="buscar()" style="background-color: #3FCA94; color: #ffffff; margin-left: 2em;"></Button>
            </GridLayout>
        </GridLayout>

        <GridLayout row="2" tkExampleTitle tkToggleNavButton style="margin: 8;">
            <RadListView [items]="dataEstabelecimentos">
                <ng-template tkListItemTemplate let-item="item">
                    <GridLayout columns="3*, 9*" (tap)="toLoja(item)" class="lista-est">
                        <Label col="1" class="font" [text]="item.nome_fantasia" style="color: #4D4D4D; vertical-align: middle; font-size: 21; margin: 4; font-weight: bold;"></Label>
                        <Image col="0" [src]="item.logo" height="70" width="70" style="background-color: #E2E2E2; margin: 4; border-radius: 50%"></Image>
                    </GridLayout>
                </ng-template>
            </RadListView>
        </GridLayout>

    </GridLayout>


	<StackLayout row="1" style="background-color: #333333;">
            <barra-menu></barra-menu>
    </StackLayout>
    <ActivityIndicator rowSpan="3" busy="{{ isLoading }}" width="30" height="30"></ActivityIndicator>
</GridLayout>
