
<StackLayout orientation="horizontal" width="100%" style="margin: 5; background-color: #333333;">
    <StackLayout orientation="vertical" class="menu-icon-stack" width="20%" (tap)="navigate('/em_alta')" >
        <Image src="~/images/home-of-birds.png"></Image>
        <!--<Label text="&#xf06d;" horizontalAlignment="stretch" class="icon icon-font-menu active-menu" style="color: #ffffff;"></Label>-->
    </StackLayout>
    <StackLayout orientation="vertical" class="menu-icon-stack" width="15%" (tap)="navigate('/categoria')">
        <Image src="~/images/flower-silhouette.png"></Image>
        <!--<Label text="&#xf015;" horizontalAlignment="stretch" class="icon icon-font-menu" style="color: #ffffff;"></Label>-->
    </StackLayout>
    <StackLayout orientation="vertical" class="menu-icon-stack" width="30%" (tap)="navigate('/cashback')">
        <Label text="Spoten" horizontalAlignment="stretch" class="icon icon-font-menu font" style="color: #ffffff;"></Label>
    </StackLayout>
    <StackLayout orientation="vertical" class="menu-icon-stack" width="15%" (tap)="navigate('/inbox')">
        <Image src="~/images/vaucher.png"></Image>
        <!--<Label text="&#xf0e0;" horizontalAlignment="stretch" class="icon icon-font-menu" style="color: #ffffff;"></Label>-->
    </StackLayout>
    <StackLayout orientation="vertical" class="menu-icon-stack" width="20%" (tap)="navigate('/mapa')">
        <Image src="~/images/maps-and-flags.png"></Image>
        <!--<Label text="&#xf3c5;" horizontalAlignment="stretch" class="icon icon-font-menu" style="color: #ffffff;"></Label>-->
    </StackLayout>
</StackLayout>
