.icon-inbox {
    font-family: 'fa-solid-900','FontAwesome','fontawesome-webfont'; 
    font-size:40;
    text-align: center; 
    vertical-align: center;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
 }
 