<ActionBar title="INBOX" class="action-bar">
    <NavigationButton icon="res://baseline_menu_white_24" (tap)="openDrawer()"></NavigationButton>
    <ActionItem>
        <StackLayout>
            <Image src="~/images/icone-spoten-negativo.png" style="margin-right: 10;" (tap)="navigate('consumo')"></Image>
            <!--<Label text="&#xf217;" class="icon icon-font-menu" marginRight="5%" (tap)="navigate('consumo')" style="color: #ffffff"></Label>-->
        </StackLayout>
    </ActionItem>
    <ActionItem>
        <StackLayout>
            <Label text="&#xf002;" class="icon icon-font-menu" marginRight="5%" (tap)="navigate('busca')"></Label>
        </StackLayout>
    </ActionItem>
</ActionBar>

<GridLayout rows="15*,*">
    <GridLayout row="0" tkExampleTitle tkToggleNavButton style="margin: 8;">
        <RadListView [items]="dataInbox">
            <ng-template tkListItemTemplate let-item="item">
                <GridLayout columns="3*, 9*" class="lista-est" (tap)="check(item)">
                    <Image col="0" [src]="item.logo" height="70" width="70" class="font" style="background-color: #E2E2E2; margin: 4; border-radius: 50%"></Image>
                    <Label col="1" class="nameLabel" [text]="item.nome_fantasia" style="color: #4D4D4D; vertical-align: middle; font-size: 21; margin: 4; font-weight: bold;"></Label>
                </GridLayout>
            </ng-template>
        </RadListView>
    </GridLayout>
    <ActivityIndicator busy="{{ isLoading }}" width="30" height="30" style="vertical-align: middle;"></ActivityIndicator>
    <StackLayout row="1" style="background-color: #333333;">
        <barra-menu></barra-menu>
    </StackLayout>
</GridLayout>